.imageContainer {
    margin-right: 20px;
}

.aboutMeText {
    font-family: 'Google Sans Flex';
    align-self: center;
    font-size: 20px;
    padding-top: 25px;
    overflow-wrap: break-word;
    max-width: 60%;
}